<h1>MY FAVORITE MUSIC ALBUMS</h1>

<p>
  Powered by Spring Boot 3.0
</p>

<h3>User Profile</h3>
<ul>
    <li>Username: {{authentication.name}}</li>
    <li>Authorities: {{authentication.authorities}}</li>
</ul>

